<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>line_xh1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{753,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{753,2}}</string>
				<key>sourceSize</key>
				<string>{753,2}</string>
			</dict>

			<key>popup_bar_xh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{963,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{963,56}}</string>
				<key>sourceSize</key>
				<string>{963,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,64}</string>
			<key>textureFileName</key>
			<string>line.png</string>
			</dict>
		</dict>
</plist>