<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,895},{279,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,4}}</string>
				<key>sourceSize</key>
				<string>{279,4}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{279,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,4}}</string>
				<key>sourceSize</key>
				<string>{279,4}</string>
			</dict>

			<key>Layer 1.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,361},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,78}}</string>
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>

			<key>Layer 707.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,828},{173,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,71}}</string>
				<key>sourceSize</key>
				<string>{173,71}</string>
			</dict>

			<key>Logo app sime.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,282},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>

			<key>avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,0},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>

			<key>avt.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,105},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,98}}</string>
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>

			<key>bangghim.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,204},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,77}}</string>
				<key>sourceSize</key>
				<string>{80,77}</string>
			</dict>

			<key>bg_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,703},{303,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{303,86}}</string>
				<key>sourceSize</key>
				<string>{305,88}</string>
			</dict>

			<key>box_chonban.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,0},{261,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{261,347}}</string>
				<key>sourceSize</key>
				<string>{261,347}</string>
			</dict>

			<key>box_chongay.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,621},{261,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{261,347}}</string>
				<key>sourceSize</key>
				<string>{261,347}</string>
			</dict>

			<key>box_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{341,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{341,81}}</string>
				<key>sourceSize</key>
				<string>{343,83}</string>
			</dict>

			<key>box_naptien.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,348},{229,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,102}}</string>
				<key>sourceSize</key>
				<string>{229,102}</string>
			</dict>

			<key>box_vqmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,703},{261,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{261,347}}</string>
				<key>sourceSize</key>
				<string>{261,347}</string>
			</dict>

			<key>btn_chonban.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,621},{220,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{220,58}}</string>
				<key>sourceSize</key>
				<string>{222,60}</string>
			</dict>

			<key>btn_chonban1.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,969},{211,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,102}}</string>
				<key>sourceSize</key>
				<string>{211,102}</string>
			</dict>

			<key>btn_chongay.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,611},{203,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,102}}</string>
				<key>sourceSize</key>
				<string>{203,102}</string>
			</dict>

			<key>btn_damua.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,490},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,828},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,59}}</string>
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>

			<key>btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,987},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>

			<key>btn_sotien.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,529},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>btn_sudung.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,451},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,38}}</string>
				<key>sourceSize</key>
				<string>{110,38}</string>
			</dict>

			<key>btn_themgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,967},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,56}}</string>
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>

			<key>button'.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,714},{199,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,56}}</string>
				<key>sourceSize</key>
				<string>{199,56}</string>
			</dict>

			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,771},{199,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,56}}</string>
				<key>sourceSize</key>
				<string>{199,56}</string>
			</dict>

			<key>button_2p'.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,987},{245,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{245,78}}</string>
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>

			<key>button_2p.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,969},{245,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{245,78}}</string>
				<key>sourceSize</key>
				<string>{250,83}</string>
			</dict>

			<key>button_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,204},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{74,74}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>

			<key>button_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,451},{217,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,79}}</string>
				<key>sourceSize</key>
				<string>{217,79}</string>
			</dict>

			<key>button_gift2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,531},{217,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,79}}</string>
				<key>sourceSize</key>
				<string>{217,79}</string>
			</dict>

			<key>buttonget.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,790},{280,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,99}}</string>
				<key>sourceSize</key>
				<string>{280,99}</string>
			</dict>

			<key>buttonget2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{276,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,86}}</string>
				<key>sourceSize</key>
				<string>{276,86}</string>
			</dict>

			<key>faco.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,530},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,78}}</string>
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>

			<key>gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,361},{53,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{53,63}}</string>
				<key>sourceSize</key>
				<string>{55,65}</string>
			</dict>

			<key>icon rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,105},{77,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,98}}</string>
				<key>sourceSize</key>
				<string>{77,98}</string>
			</dict>

			<key>icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1024},{47,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{47,54}}</string>
				<key>sourceSize</key>
				<string>{49,56}</string>
			</dict>

			<key>icon_giavang.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,900},{139,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{139,49}}</string>
				<key>sourceSize</key>
				<string>{141,51}</string>
			</dict>

			<key>icon_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,282},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>

			<key>icon_star1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,900},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,66}}</string>
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>

			<key>icon_starempty.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,568},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,38}}</string>
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>

			<key>icon_themgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,451},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{78,78}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>

			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{618,620}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{618,620}}</string>
				<key>sourceSize</key>
				<string>{618,620}</string>
			</dict>

			<key>line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,348},{101,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,102}}</string>
				<key>sourceSize</key>
				<string>{101,102}</string>
			</dict>

			<key>loading_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,0},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,48},{104,104}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1082,1079}</string>
			<key>textureFileName</key>
			<string>home.png</string>
			</dict>
		</dict>
</plist>