<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,0},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,127}}</string>
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>

			<key>Layer 1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,128},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,127}}</string>
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>

			<key>head.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>logo( 1024x1024 ).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,127}}</string>
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>

			<key>soccer.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,256},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>unnamed.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,127}}</string>
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,327}</string>
			<key>textureFileName</key>
			<string>icon.png</string>
			</dict>
		</dict>
</plist>