<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gay-co.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{618,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,20}}</string>
				<key>sourceSize</key>
				<string>{622,24}</string>
			</dict>

			<key>gay-dau-lau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{618,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,26}}</string>
				<key>sourceSize</key>
				<string>{622,30}</string>
			</dict>

			<key>gay-keo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,156},{618,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,18}}</string>
				<key>sourceSize</key>
				<string>{622,22}</string>
			</dict>

			<key>gay-ngoc-quy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,131},{618,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,24}}</string>
				<key>sourceSize</key>
				<string>{622,28}</string>
			</dict>

			<key>gay-tay-sung.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{614,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{614,13}}</string>
				<key>sourceSize</key>
				<string>{614,13}</string>
			</dict>

			<key>gay-thuc-tap.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{618,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,16}}</string>
				<key>sourceSize</key>
				<string>{622,20}</string>
			</dict>

			<key>gay-tieu-chuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{618,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,18}}</string>
				<key>sourceSize</key>
				<string>{622,22}</string>
			</dict>

			<key>gay-truyen-thong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,44},{618,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,19}}</string>
				<key>sourceSize</key>
				<string>{622,23}</string>
			</dict>

			<key>gay-vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,17},{618,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{618,26}}</string>
				<key>sourceSize</key>
				<string>{622,30}</string>
			</dict>

			<key>hay-tien-ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{614,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{614,24}}</string>
				<key>sourceSize</key>
				<string>{614,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{619,214}</string>
			<key>textureFileName</key>
			<string>gay.png</string>
			</dict>
		</dict>
</plist>