<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Thanh ngang.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{9,1518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,1518}}</string>
				<key>sourceSize</key>
				<string>{9,1518}</string>
			</dict>

			<key>av1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,1440},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{66,66}}</string>
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>

			<key>bar_lucdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,393},{66,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{66,362}}</string>
				<key>sourceSize</key>
				<string>{73,366}</string>
			</dict>

			<key>bida_8poll.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{171,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{171,94}}</string>
				<key>sourceSize</key>
				<string>{174,96}</string>
			</dict>

			<key>bida_tala_ta.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,393},{170,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,77}}</string>
				<key>sourceSize</key>
				<string>{170,77}</string>
			</dict>

			<key>bida_tala_tv.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{182,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{182,103}}</string>
				<key>sourceSize</key>
				<string>{184,106}</string>
			</dict>

			<key>bt_chiase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,758},{124,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{124,54}}</string>
				<key>sourceSize</key>
				<string>{127,57}</string>
			</dict>

			<key>bt_dungbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,813},{72,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{72,403}}</string>
				<key>sourceSize</key>
				<string>{77,408}</string>
			</dict>

			<key>card_chia_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,961},{117,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,190}}</string>
				<key>sourceSize</key>
				<string>{117,190}</string>
			</dict>

			<key>cp.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,560},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{23,20}}</string>
				<key>sourceSize</key>
				<string>{31,27}</string>
			</dict>

			<key>ic_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,720},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>icon_banbe.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,688},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{30,31}}</string>
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>

			<key>icon_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1307},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>icon_co_vn.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,532},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>

			<key>icon_exp-lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1258},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{105,105}}</string>
				<key>sourceSize</key>
				<string>{107,105}</string>
			</dict>

			<key>icon_exp-me.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1152},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{105,105}}</string>
				<key>sourceSize</key>
				<string>{107,105}</string>
			</dict>

			<key>icon_gay_lucdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,756},{12,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,320}}</string>
				<key>sourceSize</key>
				<string>{12,320}</string>
			</dict>

			<key>icon_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1342},{17,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,16}}</string>
				<key>sourceSize</key>
				<string>{17,16}</string>
			</dict>

			<key>icon_mang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,758},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_mang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1372},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_mang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,341},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_mang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,298},{58,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,42}}</string>
				<key>sourceSize</key>
				<string>{58,42}</string>
			</dict>

			<key>icon_ngxem.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1217},{71,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,89}}</string>
				<key>sourceSize</key>
				<string>{71,89}</string>
			</dict>

			<key>icon_noichuyen.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,471},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{29,31}}</string>
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>

			<key>icon_poup_exp-lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>icon_shop_gay.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,1444},{67,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{67,70}}</string>
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>

			<key>icon_tien_bac_bc.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,194},{49,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,52}}</string>
				<key>sourceSize</key>
				<string>{50,53}</string>
			</dict>

			<key>icon_tien_bac_bc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,503},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>

			<key>icon_tien_vang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1217},{49,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{49,52}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>icon_tien_vang_bc.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1270},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,27}}</string>
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>

			<key>item_chiabai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,813},{119,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,147}}</string>
				<key>sourceSize</key>
				<string>{119,147}</string>
			</dict>

			<key>line_batbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,1364},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,75}}</string>
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>

			<key>line_lucdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,756},{32,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{32,326}}</string>
				<key>sourceSize</key>
				<string>{41,332}</string>
			</dict>

			<key>popup_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,581},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{37,37}}</string>
				<key>sourceSize</key>
				<string>{47,44}</string>
			</dict>

			<key>popup_bi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,619},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>popup_bi_trang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1364},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,79}}</string>
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>

			<key>popup_item_chiabai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,581},{125,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,176}}</string>
				<key>sourceSize</key>
				<string>{125,176}</string>
			</dict>

			<key>popup_luotdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{411,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,105}}</string>
				<key>sourceSize</key>
				<string>{411,105}</string>
			</dict>

			<key>popup_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{254,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,52}}</string>
				<key>sourceSize</key>
				<string>{254,52}</string>
			</dict>

			<key>popup_seo.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1342},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{19,19}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>popup_ten_tien2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{271,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,34}}</string>
				<key>sourceSize</key>
				<string>{271,34}</string>
			</dict>

			<key>popup_tiencuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{128,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,109}}</string>
				<key>sourceSize</key>
				<string>{128,109}</string>
			</dict>

			<key>tien_bac.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,657},{36,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,30}}</string>
				<key>sourceSize</key>
				<string>{36,30}</string>
			</dict>

			<key>tien_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,1307},{39,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,34}}</string>
				<key>sourceSize</key>
				<string>{39,34}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{422,1519}</string>
			<key>textureFileName</key>
			<string>bida_banchoi.png</string>
			</dict>
		</dict>
</plist>