<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>anga</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,141}</string>
    <key>spriteSourceSize</key>
    <string>{252,141}</string>
    <key>textureRect</key>
    <string>{{343,431},{252,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_danhbien</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{100,55}</string>
    <key>spriteSourceSize</key>
    <string>{104,60}</string>
    <key>textureRect</key>
    <string>{{783,513},{100,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_kecua</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,60}</string>
    <key>spriteSourceSize</key>
    <string>{108,62}</string>
    <key>textureRect</key>
    <string>{{765,321},{108,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_napthe</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,55}</string>
    <key>spriteSourceSize</key>
    <string>{153,55}</string>
    <key>textureRect</key>
    <string>{{689,574},{153,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bg_username</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{104,25}</string>
    <key>spriteSourceSize</key>
    <string>{108,29}</string>
    <key>textureRect</key>
    <string>{{582,204},{104,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,68}</string>
    <key>spriteSourceSize</key>
    <string>{172,68}</string>
    <key>textureRect</key>
    <string>{{597,501},{172,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{173,68}</string>
    <key>spriteSourceSize</key>
    <string>{173,70}</string>
    <key>textureRect</key>
    <string>{{514,574},{173,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1_check</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,54}</string>
    <key>spriteSourceSize</key>
    <string>{158,57}</string>
    <key>textureRect</key>
    <string>{{197,828},{158,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1_checked</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,54}</string>
    <key>spriteSourceSize</key>
    <string>{158,57}</string>
    <key>textureRect</key>
    <string>{{0,863},{158,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_1_small</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{184,68}</string>
    <key>spriteSourceSize</key>
    <string>{186,70}</string>
    <key>textureRect</key>
    <string>{{597,431},{184,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_back</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{72,72}</string>
    <key>textureRect</key>
    <string>{{521,882},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_baosam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{341,342}</string>
    <key>spriteSourceSize</key>
    <string>{345,345}</string>
    <key>textureRect</key>
    <string>{{0,0},{341,342}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_baosam1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-8}</string>
    <key>spriteSize</key>
    <string>{237,236}</string>
    <key>spriteSourceSize</key>
    <string>{345,345}</string>
    <key>textureRect</key>
    <string>{{343,0},{237,236}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_button1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,55}</string>
    <key>spriteSourceSize</key>
    <string>{153,55}</string>
    <key>textureRect</key>
    <string>{{357,828},{153,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_button2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{153,55}</string>
    <key>spriteSourceSize</key>
    <string>{153,55}</string>
    <key>textureRect</key>
    <string>{{357,828},{153,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_caidat</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,71}</string>
    <key>spriteSourceSize</key>
    <string>{72,71}</string>
    <key>textureRect</key>
    <string>{{689,793},{72,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_m</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,36}</string>
    <key>spriteSourceSize</key>
    <string>{40,36}</string>
    <key>textureRect</key>
    <string>{{292,945},{40,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_moichoi_vuong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{63,92}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{129,735},{63,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_muiten</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,64}</string>
    <key>spriteSourceSize</key>
    <string>{47,64}</string>
    <key>textureRect</key>
    <string>{{844,0},{47,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ngchoi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,38}</string>
    <key>spriteSourceSize</key>
    <string>{45,40}</string>
    <key>textureRect</key>
    <string>{{845,784},{45,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ngoi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-37}</string>
    <key>spriteSize</key>
    <string>{81,20}</string>
    <key>spriteSourceSize</key>
    <string>{129,129}</string>
    <key>textureRect</key>
    <string>{{241,510},{81,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_orange</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-3}</string>
    <key>spriteSize</key>
    <string>{135,59}</string>
    <key>spriteSourceSize</key>
    <string>{139,68}</string>
    <key>textureRect</key>
    <string>{{197,884},{135,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_p</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,36}</string>
    <key>spriteSourceSize</key>
    <string>{40,36}</string>
    <key>textureRect</key>
    <string>{{250,945},{40,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_red</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{163,63}</string>
    <key>spriteSourceSize</key>
    <string>{163,63}</string>
    <key>textureRect</key>
    <string>{{514,644},{163,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_refresh</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,70}</string>
    <key>spriteSourceSize</key>
    <string>{79,76}</string>
    <key>textureRect</key>
    <string>{{770,784},{73,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_ruttien</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,2}</string>
    <key>spriteSize</key>
    <string>{72,72}</string>
    <key>spriteSourceSize</key>
    <string>{80,80}</string>
    <key>textureRect</key>
    <string>{{770,710},{72,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_setting</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,71}</string>
    <key>spriteSourceSize</key>
    <string>{72,71}</string>
    <key>textureRect</key>
    <string>{{689,793},{72,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_setting_hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,71}</string>
    <key>spriteSourceSize</key>
    <string>{72,71}</string>
    <key>textureRect</key>
    <string>{{689,793},{72,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_thoat</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,70}</string>
    <key>spriteSourceSize</key>
    <string>{79,76}</string>
    <key>textureRect</key>
    <string>{{602,877},{73,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_thoat_hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,70}</string>
    <key>spriteSourceSize</key>
    <string>{79,76}</string>
    <key>textureRect</key>
    <string>{{602,877},{73,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bubble_chat</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,45}</string>
    <key>spriteSourceSize</key>
    <string>{45,45}</string>
    <key>textureRect</key>
    <string>{{844,710},{45,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chuong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,47}</string>
    <key>spriteSourceSize</key>
    <string>{101,49}</string>
    <key>textureRect</key>
    <string>{{689,866},{99,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>close</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{770,631},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>close_hover</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{77,77}</string>
    <key>spriteSourceSize</key>
    <string>{77,77}</string>
    <key>textureRect</key>
    <string>{{770,631},{77,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,79}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{689,712},{79,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,79}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{689,631},{79,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,79}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{357,885},{79,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin4</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,79}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{521,801},{79,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin5</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{79,79}</string>
    <key>spriteSourceSize</key>
    <string>{79,79}</string>
    <key>textureRect</key>
    <string>{{438,885},{79,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>coin_select</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{109,109}</string>
    <key>spriteSourceSize</key>
    <string>{109,109}</string>
    <key>textureRect</key>
    <string>{{197,717},{109,109}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>comingsoon</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{215,64}</string>
    <key>spriteSourceSize</key>
    <string>{215,64}</string>
    <key>textureRect</key>
    <string>{{582,138},{215,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dangxem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{111,39}</string>
    <key>spriteSourceSize</key>
    <string>{115,44}</string>
    <key>textureRect</key>
    <string>{{765,383},{111,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dealer</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{179,186}</string>
    <key>spriteSourceSize</key>
    <string>{179,186}</string>
    <key>textureRect</key>
    <string>{{584,238},{179,186}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dealer_lb</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{790,927},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dialog</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,31}</string>
    <key>spriteSourceSize</key>
    <string>{31,31}</string>
    <key>textureRect</key>
    <string>{{308,717},{31,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>elip_cards</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{47,47}</string>
    <key>spriteSourceSize</key>
    <string>{47,47}</string>
    <key>textureRect</key>
    <string>{{844,66},{47,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>glow1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,168}</string>
    <key>spriteSourceSize</key>
    <string>{171,171}</string>
    <key>textureRect</key>
    <string>{{343,574},{169,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>glow2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{195,196}</string>
    <key>spriteSourceSize</key>
    <string>{199,199}</string>
    <key>textureRect</key>
    <string>{{0,537},{195,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_ga</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,49}</string>
    <key>spriteSourceSize</key>
    <string>{44,49}</string>
    <key>textureRect</key>
    <string>{{844,574},{44,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_key</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,36}</string>
    <key>spriteSourceSize</key>
    <string>{42,36}</string>
    <key>textureRect</key>
    <string>{{848,280},{42,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_kick</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{35,35}</string>
    <key>spriteSourceSize</key>
    <string>{37,37}</string>
    <key>textureRect</key>
    <string>{{160,863},{35,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_moichoi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{38,28}</string>
    <key>spriteSourceSize</key>
    <string>{40,39}</string>
    <key>textureRect</key>
    <string>{{129,829},{38,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_vang_detail</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{59,59}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{790,866},{59,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_vang_detail_disable</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{61,60}</string>
    <key>spriteSourceSize</key>
    <string>{65,65}</string>
    <key>textureRect</key>
    <string>{{689,915},{61,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_vang_small</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,40}</string>
    <key>spriteSourceSize</key>
    <string>{41,40}</string>
    <key>textureRect</key>
    <string>{{848,238},{41,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>icon_xu_small</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{37,34}</string>
    <key>spriteSourceSize</key>
    <string>{39,37}</string>
    <key>textureRect</key>
    <string>{{851,940},{37,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_avatar_thoigian</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,126}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{0,735},{127,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_avatar_thoigian2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,178}</string>
    <key>spriteSourceSize</key>
    <string>{128,178}</string>
    <key>textureRect</key>
    <string>{{197,537},{128,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_avatar_tron_ten_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,23}</string>
    <key>spriteSourceSize</key>
    <string>{108,23}</string>
    <key>textureRect</key>
    <string>{{688,204},{108,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_bg_ngchoi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{239,191}</string>
    <key>spriteSourceSize</key>
    <string>{243,196}</string>
    <key>textureRect</key>
    <string>{{343,238},{239,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_bg_ngchoi1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{239,191}</string>
    <key>spriteSourceSize</key>
    <string>{243,196}</string>
    <key>textureRect</key>
    <string>{{0,344},{239,191}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>khung_cacchi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,136}</string>
    <key>spriteSourceSize</key>
    <string>{260,136}</string>
    <key>textureRect</key>
    <string>{{582,0},{260,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>moichoi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{78,74}</string>
    <key>spriteSourceSize</key>
    <string>{82,79}</string>
    <key>textureRect</key>
    <string>{{602,801},{78,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>muccuoc_bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,66}</string>
    <key>spriteSourceSize</key>
    <string>{176,66}</string>
    <key>textureRect</key>
    <string>{{343,744},{176,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>signal_0</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{36,35}</string>
    <key>textureRect</key>
    <string>{{849,673},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>signal_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{36,35}</string>
    <key>textureRect</key>
    <string>{{752,915},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>signal_2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{36,35}</string>
    <key>textureRect</key>
    <string>{{851,866},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>signal_3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{36,35}</string>
    <key>textureRect</key>
    <string>{{851,903},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>solo_check</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,40}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{849,631},{40,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>solo_checked</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,40}</string>
    <key>spriteSourceSize</key>
    <string>{40,40}</string>
    <key>textureRect</key>
    <string>{{845,824},{40,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>text_bocbai</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,63}</string>
    <key>spriteSourceSize</key>
    <string>{96,63}</string>
    <key>textureRect</key>
    <string>{{0,919},{96,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>triangle</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,37}</string>
    <key>spriteSourceSize</key>
    <string>{51,37}</string>
    <key>textureRect</key>
    <string>{{197,945},{51,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vaoga</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{140,55}</string>
    <key>spriteSourceSize</key>
    <string>{140,55}</string>
    <key>textureRect</key>
    <string>{{521,744},{140,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vay</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{98,919},{88,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{893,984}</string>
   <key>textureFileName</key>
   <string>base.png</string>
  </dict>
 </dict>
</plist>
