<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,588},{96,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,72}}</string>
				<key>sourceSize</key>
				<string>{96,72}</string>
			</dict>

			<key>baEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,515},{159,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,72}}</string>
				<key>sourceSize</key>
				<string>{159,72}</string>
			</dict>

			<key>bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,108},{118,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,83}}</string>
				<key>sourceSize</key>
				<string>{118,83}</string>
			</dict>

			<key>betEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,275},{212,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,72}}</string>
				<key>sourceSize</key>
				<string>{212,72}</string>
			</dict>

			<key>nhat.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,622},{162,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,90}}</string>
				<key>sourceSize</key>
				<string>{162,90}</string>
			</dict>

			<key>nhatEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,430},{156,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,72}}</string>
				<key>sourceSize</key>
				<string>{156,72}</string>
			</dict>

			<key>nhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,0},{113,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,83}}</string>
				<key>sourceSize</key>
				<string>{113,83}</string>
			</dict>

			<key>nhiEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,357},{217,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,72}}</string>
				<key>sourceSize</key>
				<string>{217,72}</string>
			</dict>

			<key>star_nhat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{329,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,136}}</string>
				<key>sourceSize</key>
				<string>{329,136}</string>
			</dict>

			<key>star_nhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{273,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,113}}</string>
				<key>sourceSize</key>
				<string>{273,113}</string>
			</dict>

			<key>tt_3doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,460},{241,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,54}}</string>
				<key>sourceSize</key>
				<string>{241,54}</string>
			</dict>

			<key>tt_3doithongEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{455,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{455,54}}</string>
				<key>sourceSize</key>
				<string>{455,54}</string>
			</dict>

			<key>tt_4doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,692},{242,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,54}}</string>
				<key>sourceSize</key>
				<string>{242,54}</string>
			</dict>

			<key>tt_4doithongEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{429,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,54}}</string>
				<key>sourceSize</key>
				<string>{429,54}</string>
			</dict>

			<key>tt_5doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,623},{242,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,54}}</string>
				<key>sourceSize</key>
				<string>{242,54}</string>
			</dict>

			<key>tt_5doithongEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{422,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{422,54}}</string>
				<key>sourceSize</key>
				<string>{422,54}</string>
			</dict>

			<key>tt_6doi.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,289},{117,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,45}}</string>
				<key>sourceSize</key>
				<string>{117,45}</string>
			</dict>

			<key>tt_6doiEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{184,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,45}}</string>
				<key>sourceSize</key>
				<string>{184,45}</string>
			</dict>

			<key>tt_6doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,692},{242,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,54}}</string>
				<key>sourceSize</key>
				<string>{242,54}</string>
			</dict>

			<key>tt_6doithongEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{403,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{403,54}}</string>
				<key>sourceSize</key>
				<string>{403,54}</string>
			</dict>

			<key>tt_cong.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,220},{148,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,68}}</string>
				<key>sourceSize</key>
				<string>{148,68}</string>
			</dict>

			<key>tt_congEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,623},{243,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,68}}</string>
				<key>sourceSize</key>
				<string>{243,68}</string>
			</dict>

			<key>tt_dongchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,220},{212,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,54}}</string>
				<key>sourceSize</key>
				<string>{212,54}</string>
			</dict>

			<key>tt_dongchatEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,574},{234,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,47}}</string>
				<key>sourceSize</key>
				<string>{234,47}</string>
			</dict>

			<key>tt_sanhrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,165},{212,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,54}}</string>
				<key>sourceSize</key>
				<string>{212,54}</string>
			</dict>

			<key>tt_sanhrongEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{296,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{296,54}}</string>
				<key>sourceSize</key>
				<string>{296,54}</string>
			</dict>

			<key>tt_tuquy.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,348},{152,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,52}}</string>
				<key>sourceSize</key>
				<string>{152,52}</string>
			</dict>

			<key>tt_tuquy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,55},{188,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,52}}</string>
				<key>sourceSize</key>
				<string>{188,52}</string>
			</dict>

			<key>tt_tuquy2EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,515},{224,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,48}}</string>
				<key>sourceSize</key>
				<string>{224,48}</string>
			</dict>

			<key>tt_tuquy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,110},{188,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,52}}</string>
				<key>sourceSize</key>
				<string>{188,52}</string>
			</dict>

			<key>tt_tuquy3EN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{258,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,48}}</string>
				<key>sourceSize</key>
				<string>{258,48}</string>
			</dict>

			<key>tt_tuquyEN.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,357},{298,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,47}}</string>
				<key>sourceSize</key>
				<string>{298,47}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{755,747}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>