<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Luc.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,0},{71,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,448}}</string>
				<key>sourceSize</key>
				<string>{71,448}</string>
			</dict>

			<key>box_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{299,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{299,72}}</string>
				<key>sourceSize</key>
				<string>{301,74}</string>
			</dict>

			<key>boxphai.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,322},{120,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{120,486}}</string>
				<key>sourceSize</key>
				<string>{121,487}</string>
			</dict>

			<key>boxtrai.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,0},{117,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{117,492}}</string>
				<key>sourceSize</key>
				<string>{118,494}</string>
			</dict>

			<key>bt_dungbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,0},{72,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,403}}</string>
				<key>sourceSize</key>
				<string>{72,403}</string>
			</dict>

			<key>btn_10tr_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{226,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,108}}</string>
				<key>sourceSize</key>
				<string>{226,108}</string>
			</dict>

			<key>btn_1tr_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,269},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,52}}</string>
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>

			<key>btn_5tr_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,578},{213,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,72}}</string>
				<key>sourceSize</key>
				<string>{213,72}</string>
			</dict>

			<key>btn_muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,469},{187,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{187,92}}</string>
				<key>sourceSize</key>
				<string>{188,94}</string>
			</dict>

			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{58,58}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>header_huong_dan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,651},{203,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{203,113}}</string>
				<key>sourceSize</key>
				<string>{205,115}</string>
			</dict>

			<key>icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,269},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{41,47}}</string>
				<key>sourceSize</key>
				<string>{43,49}</string>
			</dict>

			<key>icon_nap.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>

			<key>icon_thoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,0},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>line_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,457},{249,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,11}}</string>
				<key>sourceSize</key>
				<string>{249,11}</string>
			</dict>

			<key>popup_muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{281,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,383}}</string>
				<key>sourceSize</key>
				<string>{281,383}</string>
			</dict>

			<key>vong_tam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,774},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>

			<key>vong_tam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>

			<key>vong_tam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,493},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,85}}</string>
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>

			<key>vong_tam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,322},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,134}}</string>
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>

			<key>vong_tam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,578},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>vong_tron_muc_tieu.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,73},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{801,809}</string>
			<key>textureFileName</key>
			<string>bida_luckyshot.png</string>
			</dict>
		</dict>
</plist>