<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{614,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{614,12}}</string>
				<key>sourceSize</key>
				<string>{614,12}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{622,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{622,20}}</string>
				<key>sourceSize</key>
				<string>{624,22}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,278},{622,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{622,18}}</string>
				<key>sourceSize</key>
				<string>{624,20}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{630,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{630,48}}</string>
				<key>sourceSize</key>
				<string>{632,50}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{631,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{631,38}}</string>
				<key>sourceSize</key>
				<string>{633,40}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{625,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{625,26}}</string>
				<key>sourceSize</key>
				<string>{627,28}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,39},{630,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{630,70}}</string>
				<key>sourceSize</key>
				<string>{630,70}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{628,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{628,44}}</string>
				<key>sourceSize</key>
				<string>{628,44}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{622,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{622,56}}</string>
				<key>sourceSize</key>
				<string>{622,56}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{625,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{625,25}}</string>
				<key>sourceSize</key>
				<string>{625,25}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{632,367}</string>
			<key>textureFileName</key>
			<string>bida_cues.png</string>
			</dict>
		</dict>
</plist>